---
import { site } from "../data/site";
import NavMenu from "./NavMenu.astro";
---

<nav class="mx-auto flex max-w-[72rem] items-center justify-between px-4 py-2">
  <!-- left cluster -->
  <div class="flex items-center">
    <a href="/" class="flex items-center text-inherit no-underline">
      {
        site.logo && (
          <img src={site.logo} alt={site.name + " logo"} class="h-8 w-8" />
        )
      }
      <span class="ml-2 text-xl font-bold">{site.name}</span>
    </a>
    <div class="ml-8 flex flex-col text-xs leading-tight text-slate-700">
      <span>{site.location}</span>
      <span>{site.date}</span>
    </div>
  </div>

  <!-- right cluster -->
  <div class="flex items-center gap-4">
    {site.nav.map((it) => <NavMenu label={it.label} folder={it.folder} />)}
  </div>
</nav>
